@{
    ViewData["Title"] = "Home Page";
}
<style>
    .titulo{
        font-size: 30px !important;
    }
    .img-container{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-container img{
        width: 100%;
        height: 100%;
       object-fit: cover;
    }
</style>


<div class="text-center">
    <h1 class="display-2 titulo">Bem vindo ao site de Criação de Transformers. Você pode criar um tipo de transformers (autobot, decepticon ou outro) e criar seu Transformer!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="img-container">
        <img src="https://p2.trrsf.com/image/fget/cf/940/0/images.terra.com/2023/06/05/2116492467-632ea752203852099cd1418fe19ca275.jpg" alt="imagem de transformers"/>
    </div>
</div>
